@import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.About-header {
  background-color:#090909;
  font-size: calc(10px + 2vmin);
  color: white;
}

.About-main {
  height: 95vh; 
 }

.About-slider {
  height: 88%;
  font-size: calc(10px + 2vmin);
  color: white;
 }

.d1{
  height: 100%;
  width: 100%;
 }

.d2{
  background-color:yellow;
  height: 100%;
  width: 100%;
 }

.d3{
  background-color:green;
  height: 100%;
  width: 100%;
 }

.About-footer {
  min-height: 5vh; 
}
