@import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.About-header {
  background-color:#090909;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hamburger-menu{
  min-height: 7vh;
}

.About-main {
  min-height: 88vh; 
 }

.About-left{
  /* margin: auto;    
  display: block; */
}

.About-right{
 
  background: yellow;
}

.About-footer {
  min-height: 5vh; 
}

.About-pdf{
  background-color: red !important;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  min-height:60vh ;
 
  width: 71%;
}

.canvasCss{
background: green;

 
}

.About-gallery{
  height: 100vh;
  width: 100%;
  background: pink;
}


