@import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.About-header {
  background-color:#090909;
  font-size: calc(10px + 2vmin);
  color: white;
}

.About-main {
  height: 95vh; 
 }

.About-slider {
  max-height: 94%;
 }

.d1{
  background-color:red;
  height: 100%;
  width: 100%;
 }

 .d2{
  background-color:yellow;
  height: 100%;
  width: 100%;
 }

 .d3{
  background-color:green;
  height: 100%;
  width: 100%;
 }

.About-footer {
  min-height: 5vh; 
}

.About-left{
  /* margin: auto;    
  display: block; */
  background-color: red;
}

.About-right{
 
  background: yellow;
}



.About-pdf{
  background-color: red !important;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  min-height:60vh ;
 
  width: 71%;
}

.canvasCss{
background: green;

 
}

.About-gallery{
  min-height: 100vh !important;
  min-width: 100vw !important;
  background: pink;
}


