.project_card_left{
   
}
    
.project_card_right{
    color: white;
}

.project_card_left_img{
    height: 30%;
    width: 30%;
    
}

.project_img_container{
    background-color: seashell;
}

.project_card_container{
  
}

.project_card_main{
   
}

.project_card_btn{
   
}

.pro_card{
    background-color: transparent;
    border-width: 0.01px;
    border-color: honeydew;
    margin: 1%;
    text-align: center;
    
}
    