.project_card_left{
   
}
    
.project_card_right{
    color: black;
}

.project_card_left_img{
    height: 100%;
    width: 100%;
}

.project_card_container{
  
}

.project_card_main{
   
}

.project_card_btn{
   
}
    