.clc_main{
    color: white;
    height: 100%;
    width: 100%;
    padding: 2%;
    padding-top: 35%;
    background-color: royalblue;
  }

.clc_container{
  background-color: rosybrown;
  text-align: center;
  padding: 2%;
}

  
  