@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lobster+Two|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Raleway+Dots|Roboto+Mono|Raleway|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.clc_main{
    color: white;
    height: 100%;
    width: 100%;
    padding: 2%;
    padding-top: 30%;
  }

.clc_container{
  text-align: center;
  padding: 2%;
}

.clc_header{
  font-family: 'Sulphur Point', sans-serif;
}

.clc_sub_header{
  font-family: 'Indie Flower', cursive;
}

.clc_paragraph{
  font-family: 'Roboto Mono', monospace;
 }

.clc_hr{
  color: aliceblue;
  height: 5;
}
  