@import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+2|Baloo+Da+2|Dancing+Script|Indie+Flower|Inter|Kaushan+Script|Lobster|Lobster+Two|Marck+Script|Merienda|Montserrat|Oswald|Pacifico|Raleway|Sen|Roboto+Mono&display=swap');

.clc_main{
    color: white;
    height: 100%;
    width: 100%;
    padding: 2%;
    padding-top: 30%;
  }

.clc_container{
  text-align: center;
  padding: 2%;
}

.clc_header{
  font-family: 'Lobster Two', cursive;
}

.clc_sub_header{
  font-family: 'Indie Flower', cursive;
}

.clc_paragraph{
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  
}

.clc_hr{
  color: aliceblue;
  height: 5;
}
  