@import url('https://fonts.googleapis.com/css?family=Abel|Raleway|Raleway+Dot|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.main_row{
    /* overflow-y: scroll;
    overflow-x: hidden; */
   
    font-family: 'Sulphur Point', sans-serif;
}
.card_col{
    /* text-align: center;
    margin: 0 auto;
    display: table; */
    /* height: 95vh; */
    /* width: 80%;
    margin: 0 auto;
    background-color: tomato; */
    height: 95vh;
     overflow-y: scroll;
    overflow-x: hidden;
}

.card_main{
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-color: white;
    text-align: right;
}

.card_main:hover{
   transition: all 0.2s ease-out;
   top: -4px;
}

.blockquote-footer{
    color: white;
}

.icon{
    color: white;
}

.icon:hover{
    color: rgb(255, 196, 102);
 }