.Contact-header {
  background-color:#090909;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Contact-main {
  min-height: 95vh; 
 text-align: center;
}

.Contact-footer {
  min-height: 5vh; 
}  