.App {
    
  }
  
.App-header {
    background-color:#090909;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.App-main {
    /* background-color: red; */
    width: 100%;
    height: 95vh; 
  }

.App-left {
    /* background-color: yellow; */
    width: 50%;
    float: left;
    height: 95vh; 
  }
 
.App-right {
    /* background-color: green; */
    width: 50%;
    float: right;
    height: 95vh; 
  }
  
.App-footer {
    
   
    font-size: calc(10px + 2vmin);
    color: white;
  }  