.App-header {
    background-color:#090909;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.App-main {
    height: 95vh; 
  }

.App-footer {
    height: 5vh; 
    font-size: calc(10px + 2vmin);
    color: white;
  }  