.App-header {
    background-color:#090909;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.App-main {
    background-color: red;
    
   
    height: 95vh; 
  }

.App-left {
    background-color: yellow;
  }
 
.App-right {
    background-color: green;
  }
  
.App-footer {
    height: 5vh; 
    font-size: calc(10px + 2vmin);
    color: white;
  }  