.cv_main{
    height: 88vh;
    background-color:#090909;
}

.cv_content{
    height: 100%;
}

.cv_left{
    background-color: aqua;
    min-height: 40vh;
}

.cv_right{
    background-color: aquamarine;
    min-height: 40vh;
}
