.cv_main{
    min-height: 88vh;
    background-color:#090909;
    overflow: scroll;
}

.cv_content{
    height: 100%;
}

.cv_left{
    margin: auto;    
    display: block;
}

.cv_right{
    text-align: center;
}
