.cv_main{
    min-height: 88vh;
    background-color:#090909;
    overflow: scroll;
}

.cv_content{
    height: 100%;
}

.cv_left{
    /* background-color: aqua;
    min-height: 40vh; */
    margin: auto;    
    display: block;
}

.cv_right{
    /* background-color: aquamarine;
    min-height: 40vh; */
    text-align: center;
}
