.works_main{
   

   
  
}

.works_content{
   
   background-color:red;
   justify-content: center;
   color: aliceblue;
   width: 100%;
   
   
   
}

.works_content_col{
  padding-bottom: 1%;
}

.works_content_headline{
    color: white;
  
}

.card_container{
  
  margin: 2%;
  padding: 3%;
  max-width: 96%;
}
