.works_main{
   

   
  
}

.works_content{
   
  
   justify-content: center;
   color: aliceblue;
   
   
   
}

.works_content_col{
  padding-bottom: 1%;
}

.works_content_headline{
    color: white;
  
}

.card_container{
  
  margin: 2%;
  padding: 1%;
  max-width: 96%;
}
