  .home-right{
    height: 100%;
  }

  .home-right-main{
    height: 85%;
  }

  .home-right-main-img{
      height: 65vh;
      margin: auto;    
      display: block;
  }

  .home-right-footer{
      height: 15%;
      width: 100%;
  }

  .home-right-footer-icons{
    text-align: center;
  }
 
  .fb{
    margin: 2%;
    color: white;
  }

  .fb:hover{
    color: #386ddd;
  }

  .git{
    margin: 2%;
    color: white;
  }

  .git:hover{
    color: #16fa01;
  }

  .twitter{
    margin: 2%;
    color: white;
  }

  .twitter:hover{
    color: #00acee;
  }

  .insta{
    margin: 2%;
    color: white;
  }

  .insta:hover{
    color: #c1558b;
  }

  .dribble{
    margin: 2%;
    color: white;
  }
  
  .dribble:hover{
    color: #ea4c89;
  }