.home-right{
    /* background-color: green; */
    height: 100%;
}

.home-right-main{
    /* background-color: red; */
    height: 85%;
}

.home-right-main-img{
     height: 65vh;
     margin: auto;    
     display: block;
}

.home-right-footer{
    /* background-color: yellow; */
    height: 15%;
    /* align-items: center; */
    /* justify-content: center; */
}

.home-right-footer-icons{
  /* background-color: yellow; */
  text-align: center;
  /* height: 15%; */
  /* align-items: center; */
  /* justify-content: center; */
}
 
  .fb{
    margin: 2%;
  }
  .fb:hover{
    color: #8b9dc3;
  }
  .git{
    margin: 2%;
  }
  .git:hover{
    color: #fafbfc;
  }
  .twitter{
    margin: 2%;
  }
  .twitter:hover{
    color: #DD4B39;
  }
  .insta{
    margin: 2%;
  }
  .insta:hover{
    color: #c1558b;
  }
  .dribble{
    margin: 2%;
  }
  .dribble:hover{
    color: #bb656e;
  }