.home-left{
    background-color: red;
    height: 100%;
}

.home-left-main{
    /* background-color: green; */
    height: 85%;
}

.home-left-footer{
    /* background-color: yellow; */
    min-height: 15%;
}
