.home-left{
    background-color: red;
    height: 100%;
    padding-bottom: 5%;
}

.home-left-main{
    background-color: green;
    height: 85%;
}

.home-left-footer{
    background-color: yellow;
    height: 15%;
}
