@import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');

.home-left{
    /* background-color: red; */
    height: 100%;
}

.home-left-main{
    /* background-color: green; */
    height: 100%;
    text-align: center;
}

.home-left-main-col{
    /* background-color: aqua; */
    margin: auto;    
    display: block;
}

.first-line{
    font-size: 4.5rem;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Sulphur Point', sans-serif;
}

.second_line{
    font-size: 3rem;
    font-family: 'Julius Sans One', sans-serif;
}

.typical{
    font-size: 1.6rem;
    font-family: 'Sulphur Point', sans-serif;
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Turret Road', cursive; */
}

.home-left-aboutme{
   background-color: blue;
   width: 30%;
}

.particle{
    position:fixed !important;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
